<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ coin.name }} ({{ coin.symbol }})| Crypto51 </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/style.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5521861-15"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-5521861-15');
    </script>
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Crypto51</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/about.html">About</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ coin.name }} ({{ coin.symbol}})</h1>
      <p class="lead">Cost for a 51% attack</p>
    </div>

    <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <td>Market cap</td>
            <td>{{ coin.market_cap_pretty }}</td>
          </tr>
          <tr>
            <td>Mining algorithm</td>
            <td>{{ coin.algorithm }}</td>
          </tr>
          <tr>
            <td>Network hash rate</td>
            <td>{{ coin.hash_rate_pretty }}</td>
          </tr>
          <tr>
            <td>Nicehash cost</td>
            <td><a target="_blank" href="{{ coin.nicehash_market_link }}">{{ coin.rentable_price_btc }} BTC / {{ coin.rentable_price_units }} / day</a></td>
          </tr>
          <tr>
            <td>Nicehash cost / hr</td>
            <td>{{ coin.rentable_price_usd_hour }} / {{ coin.rentable_price_units }} / hour</td>
          </tr>
          <tr>
            <td>Estimated cost of 1 hour 51% attack</td>
            {% if coin.network_vs_rentable_ratio < 1 %}
              <td
                title="Attack cost based on NiceHash having enough capacity for attack"
                class="text-muted">
                <em>{{ coin.attack_hourly_cost_pretty }}</em>
              </td>
            {% else %}
                <td>{{ coin.attack_hourly_cost_pretty }}</td>
            {% endif %}
          </tr>
          <tr>
            <td>Nicehash capacity</td>
            <td>{{ coin.rentable_capacity_pretty }}</td>
          </tr>
          <tr>
            <td>Nicehash percentage of network</td>
            <td>{{ '{:,.0f}%'.format(coin.network_vs_rentable_ratio * 100.0) }}</td>
          </tr>
        </tbody>
      </table>
      <footer class="pt-4 my-md-5 pt-md-5">
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </body>
</html>
