html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#lightningTipExpiry { font-size: 16px; }
#lightningTip { margin: 0 auto; }
.thank-you { margin: 0 auto; padding-top: 1em; }
.lightningLabel { font-size: 15px; padding-top: 20px; margin-bottom: 8px; }
.coin-name { max-width: 195px; }
